* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #41c4db;
}
.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
    font-weight: bold;
    padding-bottom: 50px;
}
.sidebar header i {
    font-size: 30px;
    display: inline-block;
}

.sidebar li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
}
.sidebar a {
    padding-left: 1rem;
    display: block;
    color: white;
    font-size: 1.1rem;
    transition: .3s;
}
ul li:hover a{
    padding-left: 40px;
}
.sidebar ul a i{
    margin-right: 16px;
}
.sidebar a:hover{
    color: white;
    text-decoration: none;
}
.sidebar a i:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}
.main-content {
    margin-left: 250px;
}
.main-content header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem .6rem 25rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper  i {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.2rem;
}
.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}