@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


#card-content{
    background: #155b68;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    padding: 12px 44px;
    height: 400px;
    margin: 6rem auto 8.1rem auto;
    width: 350px;
}
#card-title{
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
    color: white;
    font-family: Roboto;
    margin-bottom: 30px;
}
#card-title img{
    margin-top: -80px;
    margin-bottom: 30px;
}

#card-content i {
    font-size: 22px;
    color: white;
}