.dp{
    margin-left: 20px;
}
.card-titles img{
    border-radius: 50px;
    margin-top: -45px;
    padding-bottom: -50px;
}
.card-contents{
    background: #41c4db;
    padding-left: 10px;
    padding-top: -20px;
    border-radius: 10px;
    margin-bottom: 80px;
}
.card-titles p{
    margin-top: -8px;
}
.card-titles p{
    margin-bottom: 10px;
}
.card{
    width: 250px;
    margin-top: 150px;
}